{% extends 'base.html' %}

<!DOCTYPE html>

<section id="header">
  <div id="headline">
      <h1><a href="/">Equity Portfolio</a></h1>
  </div>
</section>


<section id="landingPage">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div id="title"><h3></h3></div>

    <div id="stockList">
        <div class="stockDetail" id="stockLabels"></div>

        <div class="stockDetail">
              <form action="/stocks/{{symbol}}" method="get">
                <label for "symbol">Enter symbol here: </label>
                <input id="symbol" type="text" name="symbol">
                <input type="submit" value="Find it!" />
              </form>
        </div>

    </div>

</section>


{% block footerContent %}
    <div id="footline">
        <h6><a href="/">Your Portfolio</a></h6>
    </div>

    <div id="footline">
        <h6><a href="/api/" target="_blank">Browsable API</a></h6>
    </div>
{% endblock %}
