{% extends 'base.html' %}

<!DOCTYPE html>

{% block landingPageContent %}
    <div id="title"><h3>Search</h3></div>

    <div id="stockList">
        <div class="stockDetail" id="stockLabels"></div>

        <div class="stockDetail">
              <form action="/stocks/{{symbol}}" method="get">
                <label for "symbol">Enter symbol here: </label>
                <input id="symbol" type="text" name="symbol">
                <input type="submit" value="Find it!" />
              </form>
        </div>

    </div>
{% endblock %}
