<head>
    <meta charset="utf-8">
    <title>Stock Tracker</title>
    <link
        rel="icon"
        href="https://res.cloudinary.com/dckkkjkuz/image/upload/v1514438963/dollar_nvldfi.png"
        type="image/x-icon"/>

    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat" >

    {% load static %}
    <link
        rel="stylesheet"
        href="{% static 'stocks/style.css' %}"
        type="text/css" />


</head>

<body>
    <main>


        <section id="header">
          <div id="headline">
              <h1><a href="/">Stock Tracker</a></h1>
          </div>
        </section>


        <section id="landingPage">

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <div id="title">
                <h3>Portfolio Name: {{ portfolio.name }}</h3>
            </div>

            <div id="stockList">
                <div class="stockDetail" id="stockLabels">
                    <h4>Symbol:</h4>
                    <p>Last Trade Price:</p>
                    <p>Number of shares owned:</p>
                    <p>Market value of stake:</p>
                </div>

                {% for stock in stock_set %}
                <div class="stockDetail">

                      <h4>{{ stock.symbol }}</a></h4>
                      <p>{{ stock.last_trade_price }}</p>
                      <p>{{ stock.shares_owned }}</p>
                      <p>{{ stock.market_value }}</p>

                      <form action="/api/stocks/{{stock.id}}/" method="delete">
                          <input id="symbol" type="hidden" name="symbol" value="{{stock.symbol}}">
                          <input type="submit" value="Delete">
                      </form>
                </div>


                {% endfor %}

            </div>



        </section>


        <section id="footer">

            <div id="footline">
                <h6><a href="/search/">Search Stocks</a></h6>
            </div>

            <div id="footline">
                <h6><a href="/api/" target="_blank">Browsable API</a></h6>
            </div>

            <div class="padding"></div>
        </section>


    </main>
</body>
