<head>
    <meta charset="utf-8">
    <title>Stock Tracker</title>
    <link
        rel="icon"
        href="https://res.cloudinary.com/dckkkjkuz/image/upload/v1514438963/dollar_nvldfi.png"
        type="image/x-icon"/>

    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat" >

    {% load static %}
    <link
        rel="stylesheet"
        href="{% static 'stocks/style.css' %}"
        type="text/css" />


</head>

<body>
    <main>


        <section id="header">
          <div id="headline"><h1>Stock Tracker</h1></div>
        </section>


        <section id="landingPage">

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <h3>{{ stock.symbol }}</h3>
            <p>Company Name: {{ stock.company_name}}</p>
            <p>Last Trade Price: {{ stock.last_trade_price }}</p>

        </section>


        <section id="footer">

            <div id="footline">
                <h6><a href="/api/" target="_blank">Browsable API</a></h6>
            </div>

            <div class="padding"></div>
        </section>


    </main>
</body>
