{% extends 'base.html' %}

<!DOCTYPE html>

{% block landingPageContent %}
    {% load stocktracker_tags %}

    <div id="title">
        <h3>Portfolio Name: {{ portfolio.name }}</h3>
    </div>

    <div id="stockList">

        <div class="stockDetail" id="stockLabels">
            <h4>Symbol:</h4>
            <p>Last Trade Time:</p>
            <p>Last Trade Price(USD):</p>
            <p>Number of shares owned:</p>
            <p>Market value of stake:</p>
        </div>

        {% for stock in stock_set %}
            <div class="stockDetail">

                  <h4>{{ stock.symbol }}</a></h4>
                  <p>{{ stock.last_trade_time }}</p>
                  <p>{{ stock.last_trade_price|floatformat:2 }}</p>
                  <p>{{ stock.shares_owned|floatformat:2 }}</p>
                  <p>{{ stock.last_trade_price|multiply:stock.shares_owned|floatformat:2 }}</p>

                  <form action="/api/stocks/{{stock.id}}/" method="delete">
                      <input type="submit" value="Update/Delete">
                  </form>
            </div>
        {% endfor %}

    </div>
{% endblock %}
