{% extends 'base.html' %}

<!DOCTYPE html>

{% block landingPageContent %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h3>{{ stock.symbol }}</h3>
    <p>Latest Closing Price (USD): {{stock.last_trade_price}}</p>
    <p>Last Trade Time: {{stock.last_trade_time}}</p>
{% endblock %}


{% block footerContent %}
    <div id="footline">
        <h6><a href="/search/">Search/Add Stocks</a></h6>
    </div>

    <div id="footline">
        <h6><a href="/">Your Portfolio</a></h6>
    </div>

    <div id="footline">
        <h6><a href="/api/" target="_blank">Browsable API</a></h6>
    </div>
{% endblock %}
