{% extends 'base.html' %}

<!DOCTYPE html>

{% block landingPageContent %}
    {% if stock_list %}
      <h3>List of all stocks in database:</h3>
      <br />
        <ul>
        {% for stock in stock_list %}
            <li><a href="/stocksOLD/{{ stock.id }}/">{{ stock.symbol }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>There are no stocks in the database at this time. Adding a stock to your portfolio will populate the database.</h3>
    {% endif %}
{% endblock %}
