{% extends 'base.html' %}

<!DOCTYPE html>

{% block landingPageContent %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


    {% if stock_list %}
      <h3>List of all stocks in database:</h3>
      <br />
        <ul>
        {% for stock in stock_list %}
            <li><a href="/stocksOLD/{{ stock.id }}/">{{ stock.symbol }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>Sorry, there are no stocks available at this time.</h3>
    {% endif %}
{% endblock %}
